<div class="wrapper" style="color: #000; padding-top: <%= @gallery.top_margin %>px; width: <%= @gallery.site_width %>px; margin: 0 auto;">


  <% if @gallery.show_headline %>
    <h1 style="color: <%= @gallery.headline_color %>"><%= @gallery.name %></h1>
  <% end %>

  <p class="instructions"><%= @gallery.instructions.html_safe %></p>



  <%= form_for @photo, :url => pupload_path, :html => { :class => 'form-horizontal' } do |f| %>
    <input type="hidden" name="gallery_id" value="<%=params[:id] %>" />
    <input type="hidden" name="[photo]is_active" value="false" />


    <div class="control-group">
      <%= f.label :owner, "Ihr Name:",  :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :owner, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :caption, "Beschreibung", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :caption, :class => 'text_field input-large', rows: 4%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :image, "Ihr Foto", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <p>oder</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :video, "Ihr Video", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :video, :class => 'text_field' %>
      </div>
    </div>
    <div class="form-actions form-actions-transparent">
      <%= f.submit 'Upload', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => "Abbrechen"),
                  public_gallery_path(Gallery.find(params[:id])), :class => 'btn' %>
    </div>
  <% end %>




</div>
