<%= form_for @photo, :html => { :class => 'form-horizontal' } do |f| %>
  <input type="hidden" name="gallery_id" value="<%=params[:gallery_id] %>" />
  <div class="control-group">
    <%= f.label :owner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :caption, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :caption, :class => 'text_field', rows: 4 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :video, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :video, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :video_poster, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :video_poster, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :is_video, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_video, :class => 'check_box' %>
    </div>
  </div>

  <% if @photo.is_video? && !@photo.video.nil? %>
    <div class="control-group">
      <div class="controls">
        <div id="previewplayer">Loading the player...</div>
        <p>&nbsp;</p>
      </div>
    </div>
    <script>jwplayer.key="QE7fpd76gOWvf3c2Zq0uOWO44opXjpQufIVahA=="</script>
    <script type="text/javascript">
      jwplayer("previewplayer").setup({
        flashplayer:"<%=asset_path('jwplayer.flash.swf')%>",
        file: "<%= @photo.video %>",
        image: "<%= @photo.video_poster %>",
        primary: "flash",
        width: 480,
        height: 270
      });
    </script>
  <% else %>
  <% end %>

  <div class="control-group">
    <%= f.label :is_active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_active, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                gallery_path(Gallery.find(params[:gallery_id])), :class => 'btn' %>
  </div>
<% end %>



<% if @photo.comments.any? %>

  <h3>Kommentare</h3>
   
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Kommentar</th>
        <th>Author</th>
        <th>Datum</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @photo.comments.each do |comment| %>
        <tr>
          <td><%= comment.id %></td>
          <td><%= comment.text %></td>
          <td><%= comment.author_name %></td>
          <td><%=l comment.created_at %></td>
          <td>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        photo_comment_path(@photo, comment),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

