<div class="wrapper" style="color: #000; padding-top: <%= @gallery.top_margin %>px; width: <%= @gallery.site_width %>px; margin: 0 auto;">


  <% if @gallery.show_headline %>
    <h1 style="color: <%= @gallery.headline_color %>"><%= @gallery.name %></h1>
  <% end %>

  <% if @gallery.instructions %>
    <p class="instructions"><%= @gallery.instructions.html_safe %></p>
  <% end %>




  <%= form_for @photo, :url => { :action => :create_public, :id => params[:id] }, :html => { :class => 'form-horizontal' } do |f| %>
    <input type="hidden" name="gallery_id" value="<%=params[:id] %>" />
    <input type="hidden" name="[photo]is_active" value="false" />

    <% if flash.count > 0 %>
      <div class="control-group">
        <div class="controls error">
          <strong>Folgende Fehler sind beim Upload aufgetreten:</strong>
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :owner, "Ihr Name:",  :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :owner, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :owner_email, "Ihre E-Mail Adresse:",  :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :owner_email, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :caption, "Beschreibung", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :caption, :class => 'publiccaption text_field input-large', rows: 4%>
        <p class="publiccharsleft">500</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :image, "Ihr Foto", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <p>oder</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :video, "Ihr Video", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :video, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label><%= f.check_box :terms_of_service %> Ich habe die Datenschutzhinweise zur Kenntnis genommen.</label>
      </div>
    </div>
    <div class="form-actions form-actions-transparent">
      <%= f.submit 'Upload', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => "Abbrechen"),
                  public_gallery_path(Gallery.find(params[:id])), :class => 'btn' %>
    </div>
  <% end %>




</div>
