<% @gallery.photos.each do |photo| %>
  <% if photo.is_active %>
    <div class="imglightbox" id="lb_<%= photo.id %>">

      <div class="comments">
        <div class="owner">
          <% if photo.owner != "" && @gallery.show_names %>
            <p><span class="photoowner"><%= photo.owner %></span>
          <% else %>
            <p>
          <% end %>
          <%= photo.caption %></p>
        </div>
        
        <% if @gallery.has_rating? %>
          <% if !cookies["vt#{photo.id}"] %>
            <p class="voteswrapper" id="voteswrapper_<%=photo.id %>">
          <% else %>
            <p class="voteswrapper" id="voteswrapper_<%=photo.id %>" style="display: none;">
          <% end %>
              <%= link_to(vote_photo_path(photo, value: 1), 
                          method: "post", 
                          remote: true, 
                          class: "votelinknew") do %>
                Gef&auml;llt mir  
                <span class="votes votes_for_<%=photo.id %>"><%= photo.votes %></span>
              <% end %>
            </p>
            
          <% if !cookies["vt#{photo.id}"] %>
            <p class="voteswrapper voteswrapper_novote" id="voteswrapper_<%=photo.id %>_novote" style="display: none;">
          <% else %>
            <p class="voteswrapper voteswrapper_novote" id="voteswrapper_<%=photo.id %>_novote">
          <% end %>
              Dies gef&auml;llt 
              <span class="votes_single votes_for_<%=photo.id %>"><%= photo.votes.floor %></span> 
              Kollegen
            </p>


        <% end %>
        
        
        <% if @gallery.has_comments? %>
          <% @comments = photo.comments %>
          <h4 id="commentsnum_<%= photo.id %>">Kommentare (<%= photo.comments.count %>)</h4>
            <!--
            <ul>
              <li><h5>Kommentar 1</h5><p><strong>John Doe</strong><br/>Blah bnlah</p></li>
            </ul>
            //-->
          <ul class="commentlist" id="commentlist_<%= photo.id %>">
            <% if photo.comments.any? %>
              <%= render @comments %> 
            <% end %>
          </ul>
          
          <div class="commentform">
            <% @comment = photo.comments.build %>
            <%= form_for @comment, remote: true do |f| %>
              <%= f.text_field :author_name, title: "Ihr Name" %>
              <%= f.text_area :comment, :cols => 6, :rows => 2, title: "Kommentar", class: "commentfield" %>
              <%= f.hidden_field :photo_id, :value => photo.id %>
              <p class="charsleft" id="charsleft_<%=photo.id %>">250<p>
              <%= f.button "Absenden", type: "submit", class: "btn btn-small" %>
              <p class="commenttos">
                <a href="https://wiki.telekom.de/pages/viewpage.action?pageId=15401780" target="_blank">
                  Social Media Grundsätze
                </a>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if photo.is_video? && !photo.video.nil? %>
        <div class="videowrapper">
          <div class="videoinner">
            <div class="video" id="video_<%= photo.id %>">Loading the player...</div>

            <script>jwplayer.key="QE7fpd76gOWvf3c2Zq0uOWO44opXjpQufIVahA=="</script>
            <script type="text/javascript">
              jwplayer("video_<%= photo.id %>").setup({
                flashplayer:"<%=asset_path('jwplayer.flash.swf')%>",
                file: "<%= photo.video %>",
                image: "<%= photo.video_poster %>",
                primary: "flash",
                width: 480,
                height: 270
              });
            </script>

          </div>
        </div>
      <% else %>
        <div class="img" style="background-image: url('<%= photo.image_url(:max).to_s %>')">
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>
