<li>
<div class="thumbwrapper">
  <a href="#lb_<%=photo.id %>" class="imglightboxopener" rel="grp<%=@gallery.id %>">
    <%= image_tag("/assets/transp.gif", :class => "transpoverlay") %>
  </a>
  <% if photo.is_video? && !photo.video.nil? %>
    <%= image_tag(photo.video_poster_url(@tsize).to_s, :class => "thumbnail")  %>
  <% else %>
    <%= image_tag(photo.image_url(@tsize).to_s, :class => "thumbnail")  %>
  <% end %>

    
      <div class="thumbcaption">

        <% if @gallery.has_comments? or @gallery.has_rating? %>
          <div class="photostats">
            <% if @gallery.has_comments? %>
              <p class="photostats-comment"><%= photo.comments.count %></p>
            <% end %>
            <% if @gallery.has_rating? %>
              <p class="photostats-like"><%= photo.votes.floor %></p>
            <% end %>
          </div>
        <% end %>
        
        <% if @gallery.show_names%>
          <% if photo.owner != ""  %>
            <strong><%= truncate(photo.owner, :length => @trun_name, :omission => "...")  %></strong><br />
          <% end %>
        <% end %>
        <%= truncate(photo.caption, :length => @trun_desc, :ommision => "...") %>
      </div>
  </div>
</li>
