<%= form_for @gallery, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :background, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :background, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :text_color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text_color, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :show_headline, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :show_headline, :class => 'check_box' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :headline_color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :headline_color, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :top_margin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :top_margin, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :has_rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :has_rating, :class => 'check_box' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :has_comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :has_comments, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                galleries_path, :class => 'btn' %>
  </div>
<% end %>
