<div class="wrapper" style="background: <%= @gallery.background_color.to_s %> url('<%= @gallery.background_url.to_s %>') top center no-repeat; padding-top: <%= @gallery.top_margin %>px; width: <%= @gallery.site_width %>px; margin: 0 auto;">
  <% if @gallery.show_headline %>
    <h1 style="color: <%= @gallery.headline_color %>"><%= @gallery.name %></h1>
  <% end %>


  <%- model_class = Photo -%>
  <!-- thumbnails //-->
  <ul>
    <% if @gallery.has_rating? %>
      <% @gallery.photos.by_votes.each do |photo| %>
        <% if photo.is_active %>
          <%= render photo %>
        <% end %>
      <% end %>
    <% else %>
      <% @gallery.photos.order("position").each do |photo| %>
        <% if photo.is_active %>
          <%= render photo %>
        <% end %>
      <% end %>
    <% end %>
  </ul>   
    
  
  <!-- lightboxes //-->
  <ul>
    <% @gallery.photos.each do |photo| %>
      <% if photo.is_active %>
          <div class="imglightbox" id="lb_<%= photo.id %>">

            <div class="comments">
              <div class="owner">
                <% if photo.owner != "" %>
                  <p><span class="photoowner"><%= photo.owner %></span>
                <% else %>
                  <p>
                <% end %>
                <%= photo.caption %></p>
              </div>
              
              <% if @gallery.has_rating? %>
                <% if !cookies["vt#{photo.id}"] %>
                  <p class="voteswrapper" id="voteswrapper_<%=photo.id %>">
                <% else %>
                  <p class="voteswrapper" id="voteswrapper_<%=photo.id %>" style="display: none;">
                <% end %>
                    <%= link_to(vote_photo_path(photo, value: 1), 
                                method: "post", 
                                remote: true, 
                                class: "votelinknew") do %>
                      Gefaellt mir  
                      <span class="votes votes_for_<%=photo.id %>"><%= photo.votes %></span>
                    <% end %>
                  </p>
                  
                <% if !cookies["vt#{photo.id}"] %>
                  <p class="voteswrapper" id="voteswrapper_<%=photo.id %>_novote" style="display: none;">
                <% else %>
                  <p class="voteswrapper" id="voteswrapper_<%=photo.id %>_novote">
                <% end %>
                    Dieses Foto gef&auml;llt 
                    <span class="votes_single votes_for_<%=photo.id %>"><%= photo.votes %></span> 
                    Kollegen
                  </p>


              <% end %>
              
              
              <% if @gallery.has_comments? %>
                <% @comments = photo.comments %>
                <h4 id="commentsnum_<%= photo.id %>">Kommentare (<%= photo.comments.count %>)</h4>
                  <!--
                  <ul>
                    <li><h5>Kommentar 1</h5><p><strong>John Doe</strong><br/>Blah bnlah</p></li>
                  </ul>
                  //-->
                <ul class="commentlist" id="commentlist_<%= photo.id %>">
                  <% if photo.comments.any? %>
                    <%= render @comments %> 
                  <% end %>
                </ul>
                
                <div class="commentform">
                  <% @comment = photo.comments.build %>
                  <%= form_for @comment, remote: true do |f| %>
                    <%= f.text_field :author_name, title: "Ihr Name" %>
                    <%= f.text_area :text, :cols => 6, :rows => 2, title: "Kommentar", class: "commentfield" %>
                    <%= f.hidden_field :photo_id, :value => photo.id %>
                    <p class="charsleft" id="charsleft_<%=photo.id %>">250<p>
                    <%= f.button "Absenden", type: "submit", class: "btn btn-small" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="img">
              <%= image_tag photo.image_url(:max).to_s %>
            </div>
          </div>
      <% end %>
    <% end %>
</div>
