<div class="wrapper" style="background: url('<%= @gallery.background_url.to_s %>') top center no-repeat; padding-top: <%= @gallery.top_margin %>px;">
  <% if @gallery.show_headline %>
    <h1><%= @gallery.name %></h1>
  <% end %>


  <%- model_class = Photo -%>
  <ul>
    <% @gallery.photos.each do |photo| %>
      <li>
        <div>
          <%= image_tag photo.image_url(:backend_thumb).to_s %>
          <div class="caption">
            <p><%= photo.caption %></p>
            <p>(<%= photo.owner %>)</p>
          </div>
        </div>
      </li>
    <% end %>
  <ul>

</div>
