<div class="wrapper" style="background: <%= @gallery.background_color.to_s %> url('<%= @gallery.background_url.to_s %>') top center no-repeat; padding-top: <%= @gallery.top_margin %>px; width: <%= @gallery.site_width %>px; margin: 0 auto;">
  <% if @gallery.show_headline %>
    <h1 style="color: <%= @gallery.headline_color %>"><%= @gallery.name %></h1>
  <% end %>


  <%- model_class = Photo -%>
  <ul>
    <% @gallery.photos.each do |photo| %>
      <% if photo.is_active %>
      <li>
        <div class="thumbwrapper" style="color: <%= @gallery.text_color %>; ">
          <%
            case @gallery.thumb_size
              when "large"
                tsize = :thumb_large
              when "medium"
                tsize = :thumb_medium
              when "small"
                tsize = :thumb_small
              when "tiny"
                tsize = :thumb_tiny
              else
                tsize = :thumb_large
              end
          %>
          <a href="#lb_<%=photo.id %>" class="imglightboxopener" rel="grp<%=@gallery.id %>">
            <%= image_tag("/assets/transp.gif", :width => "100%", :height => "100%", :class => "transpoverlay") %>
          </a>
          <%= image_tag(photo.image_url(tsize).to_s, 
                      :style => "border-style: solid; border-color: #{@gallery.photo_border_color}; border-width: #{@gallery.photo_border_width}px;")  %>
          
              <h4>
                <%= photo.caption %><br>
                <% if photo.owner != "" %>von <%= photo.owner %>
                <% else %>
                  &nbsp;
                <% end %>
              </h4>
        </div>
      </li>
      <% end %>
    <% end %>
  <ul>
    <% @gallery.photos.each do |photo| %>
      <% if photo.is_active %>
          <div class="imglightbox" id="lb_<%= photo.id %>">

            <div class="comments">
              <h4>Kommentare</h4>
              <!--
              <ul>
                <li><h5>Kommentar 1</h5><p><strong>John Doe</strong><br/>Blah bnlah</p></li>
              </ul>
              //-->
            </div>
            <div class="img">
              <%= image_tag photo.image_url(:max).to_s %>
              <h3>
                <%= photo.caption %><br>
                <% if photo.owner != "" %>von <%= photo.owner %>
                <% else %>
                  &nbsp;
                <% end %>
              </h3>
            </div>
          </div>
      <% end %>
    <% end %>
</div>
