<div class="wrapper" style="background: <%= @gallery.background_color.to_s %> url('<%= @gallery.background_url.to_s %>') top center no-repeat; padding-top: <%= @gallery.top_margin %>px; width: <%= @gallery.site_width %>px; margin: 0 auto;">
  <% if @gallery.show_headline %>
    <h1 style="color: <%= @gallery.headline_color %>"><%= @gallery.name %></h1>
  <% end %>


  <%- model_class = Photo -%>
  <ul>
    <% @gallery.photos.each do |photo| %>
      <% if photo.is_active %>
      <li>

      <%
        case @gallery.thumb_size
          when "large"
            tsize = :thumb_large
            px = THUMB_LARGE_SIZE
            trun_name = 50
            trun_desc = 200
          when "medium"
            tsize = :thumb_medium
            px = THUMB_MEDIUM_SIZE
            trun_name = 24
            trun_desc = 55
          when "small"
            tsize = :thumb_small
            px = THUMB_SMALL_SIZE
            trun_name = 13
            trun_desc = 20
          else
            tsize = :thumb_large
            px = THUMB_LARGE_SIZE
            trun_name = 50
            trun_desc = 200
          end
        # total width
        tw = px + (@gallery.photo_border_width * 2)
        border_color = @gallery.photo_border_color
        if @gallery.photo_border == false
          border_width = 0
          tw = px
        else
          border_width = @gallery.photo_border_width
          tw = px + (@gallery.photo_border_width * 2)
        end
      %>
      <div class="thumbwrapper" style="color: <%= @gallery.text_color %>; width: <%=tw %>px; ">
        <a href="#lb_<%=photo.id %>" class="imglightboxopener" rel="grp<%=@gallery.id %>">
          <%= image_tag("/assets/transp.gif", :width => "#{px}px", :height => "100%", :class => "transpoverlay") %>
        </a>
        <%= image_tag(photo.image_url(tsize).to_s, 
                        :style => " border-style: solid; 
                                    border-color: #{border_color}; 
                                    border-width: #{border_width}px;",
                        :class => "thumbnail")  %>
          
            <div class="thumbcaption" 
              style=" left: <%= border_width  %>px; bottom: <%= border_width %>px; width: <%=px-12 %>px">
                <% if photo.owner != "" %>
                  <strong><%= truncate(photo.owner, :length => trun_name, :omission => "...")  %></strong><br />
                <% end %>
                <%= truncate(photo.caption, :length => trun_desc, :ommision => "...") %>
              </div>
        </div>
      </li>
      <% end %>
    <% end %>
  <ul>
    <% @gallery.photos.each do |photo| %>
      <% if photo.is_active %>
          <div class="imglightbox" id="lb_<%= photo.id %>">

            <div class="comments">
              <div class="owner">
                <% if photo.owner != "" %>
                  <p><span class="photoowner"><%= photo.owner %></span>
                <% else %>
                  <p>
                <% end %>
                <%= photo.caption %></p>
              </div>
              
              <% if @gallery.has_rating? %>
                <p>Likes: </p>
              <% end %>
              
              
              <% if @gallery.has_comments? %>
                <% @comments = photo.comments %>
                <h4 id="commentsnum_<%= photo.id %>">Kommentare (<%= photo.comments.count %>)</h4>
                  <!--
                  <ul>
                    <li><h5>Kommentar 1</h5><p><strong>John Doe</strong><br/>Blah bnlah</p></li>
                  </ul>
                  //-->
                <ul class="commentlist" id="commentlist_<%= photo.id %>">
                  <% if photo.comments.any? %>
                    <%= render @comments %> 
                  <% end %>
                </ul>
                
                <div class="commentform">
                  <% @comment = photo.comments.build %>
                  <%= form_for @comment, remote: true do |f| %>
                    <%= f.text_field :author_name, title: "Ihr Name" %>
                    <%= f.text_area :text, :cols => 6, :rows => 2, title: "Kommentar", class: "commentfield" %>
                    <%= f.hidden_field :photo_id, :value => photo.id %>
                    <p class="charsleft" id="charsleft_<%=photo.id %>">250<p>
                    <%= f.button "Absenden", type: "submit", class: "btn btn-small" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="img">
              <%= image_tag photo.image_url(:max).to_s %>
            </div>
          </div>
      <% end %>
    <% end %>
</div>
