  <%
    case @gallery.thumb_size
      when "large"
        @tsize = :thumb_large
        @px = THUMB_LARGE_SIZE
        @trun_name = 50
        @trun_desc = 200
        @uploadimg = "/assets/uploadimg_300.jpg"
      when "medium"
        @tsize = :thumb_medium
        @px = THUMB_MEDIUM_SIZE
        @trun_name = 24
        @trun_desc = 55
        @uploadimg = "/assets/uploadimg_160.jpg"
      when "small"
        @tsize = :thumb_small
        @px = THUMB_SMALL_SIZE
        @trun_name = 13
        @trun_desc = 20
        @uploadimg = "/assets/uploadimg_100.jpg"
      else
        @tsize = :thumb_large
        @px = THUMB_LARGE_SIZE
        @trun_name = 50
        @trun_desc = 200
        @uploadimg = "/assets/uploadimg_300.jpg"
      end
    # total width
    tw = @px + (@gallery.photo_border_width * 2)
    border_color = @gallery.photo_border_color
    if @gallery.photo_border == false
      @border_width = 0
      tw = @px
    else
      @border_width = @gallery.photo_border_width
      tw = @px + (@gallery.photo_border_width * 2)
    end
  %>
  <style type="text/css">
    .wrapper {
      background: <%= @gallery.background_color.to_s %> url('<%= @gallery.background_url.to_s %>') top center no-repeat;
      width: <%= @gallery.site_width %>px;
      margin: 0 auto;
    }
    .meta {
      text-align: right;
      margin-bottom: <%= @gallery.top_margin %>px;
      height: 20px;
      padding-right: 10px;
      
    }
    .thumbwrapper {
      color: <%= @gallery.text_color %>;
      width: <%= tw %>px;
    }
    img.transpoverlay {
      width: <%=@px %>px;
      height: 100%;
    }
    img.thumbnail {
      border-style: solid;
      border-color: <%=border_color %>;
      border-width: <%=@border_width %>px;
    }
    .thumbcaption {
      left: <%= @border_width %>px;
      bottom: <%= @border_width %>px;
      width: <%= @px-12 %>px;
    }
    .description a {
      color: <%= @gallery.text_color %>;
      text-decoration: underline;
    }

  </style>






  <% if @gallery.is_active %>

    <% if @gallery.site_width < 600 %>
      <div class="wrapper narrow">
    <% else %>
      <div class="wrapper">
    <% end %>


        <div class="meta">
          <% bodyline = "Hallo%2C%20%0Aich%20habe%20im%20VSD-Intranet%20eine%20interessante%20Mitarbeiteraktion%20gefunden.%20Vielleicht%20interessiert%20sie%20dich%20ja%20auch%20%E2%80%93%20es%20gibt%20auch%20etwas%20tolles%20zu%20gewinnen.%20Klick%20doch%20einfach%20mal%20rein%3A" %>
          <a href="mailto:meineKollegen@telekom.de?subject=Interessante%20Seite%20im%20Intranet:%20<%=u @gallery.name %>&body=<%= bodyline %>%20%0A%0A<%= "#{request.protocol}#{request.host_with_port}/gallery/#{@gallery.id}" %>" title="Weiterempfehlen">Galerie Weiterempfehlen</a>
        </div>

        <% if flash[:notice] %>
          <div class="alert alert-success">
            <div id="flash_notice"><%= markdown flash[:notice] %></div>
          </div>
        <% end %>
        
        <% if @gallery.show_headline %>
          <h1 style="color: <%= @gallery.headline_color %>"><%= @gallery.name %></h1>
        <% end %>
        <% unless @gallery.description.nil? %>
          <div class="description" style="color: <%= @gallery.text_color%>"><%= markdown @gallery.description %></div>
        <% end %>


        <%- model_class = Photo -%>



        <ul>
          <% if @gallery.has_upload %>
            <li>
              <div class="thumbwrapper">
                <a href="<%= upload_url %>" class="noimglightboxopener">
                  <img src="/assets/transp.gif" class="transpoverlay" />
                </a>
                <img src="<%= @uploadimg %>" width="" height="" class="thumbnail" />
              </div>
            </li>
          <% end %>
          <% if @gallery.has_rating? %>
            <% @gallery.photos.by_votes.each do |photo| %>
              <% if photo.is_active %>
                <%= render photo %>
              <% end %>
            <% end %>
          <% else %>
            <% @gallery.photos.order("position").each do |photo| %>
              <% if photo.is_active %>
                <%= render photo %>
              <% end %>
            <% end %>
          <% end %>
        </ul>   
          
        
        <!-- lightboxes //-->
        <%= render "photos/lightbox"  %>
      </div>

  <% else %>

    <p class="notvalid">Dieser Link ist ungültig</p>
  <% end %>

